In [4]:
import pandas as pd
import numpy as np

In [6]:
df =pd.read_csv('./vgsales.csv')

### 1.Which company is the most common video game publisher?

In [149]:
df.Publisher.mode()[0]

'Electronic Arts'

### 2.What’s the most common platform?

In [150]:
df.Platform.mode()[0]

'DS'

### 3.What about the most common genre?

In [151]:
df.Genre.mode()[0]

'Action'

### 4.What are the top 20 highest grossing games?

In [72]:
# df[df.columns[1::9]].head(20)   first answer
# df.loc[:20,['Name' , 'Global_Sales']] i love this 
df[['Name', 'Global_Sales']].head(20)   #another way that i loved

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

### 5.For North American video game sales, what’s the median?

In [153]:
df.NA_Sales.median()

0.08

### 6.For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [8]:
(df['NA_Sales'].max()-df['NA_Sales'].mean()) /df['NA_Sales'].std()

50.47898767479108

### 7.The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [9]:
df.Global_Sales.mean()

0.5374406555006628

In [148]:
df[(df['Platform']=='Wii') ].Global_Sales.mean()

0.6994037735849057

## 8.Come up with 3 more questions that can be answered with this data set.
 - How could the less sales for specific game affect on the sales for it's own company